{% extends 'base.html.twig' %}

{% block title %}Creation de sites web{% endblock %}

{% block body %}
{% block paragraphe %}{% endblock %}
{% block carrousel %}{% endblock %}

<div class="container">
    <h1>Obtenez un site web professionnel pour votre entreprise</h1>

    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <img src="{{ asset('/img/broken.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Notre équipe de professionnels en création de sites web est à votre disposition
                        pour développer votre présence en ligne et aider votre entreprise à se démarquer de la
                        concurrence. Nous créons des sites web dynamiques et sur mesure, adaptés à vos besoins
                        spécifiques.

                        Notre approche commence par une étude minutieuse de vos objectifs et de votre marché, afin de
                        concevoir une stratégie de site web efficace. Nous développons ensuite un design attrayant et
                        ergonomique pour votre site web, en utilisant les dernières technologies en matière de
                        développement web.

                        Nous vous offrons également des services de référencement pour garantir que votre site web sera
                        facilement trouvable par les moteurs de recherche, et une maintenance régulière pour assurer la
                        fiabilité et la sécurité de votre site web.

                        Nos tarifs pour la création de sites web varient en fonction des besoins spécifiques de chaque
                        client, veuillez nous contacter pour obtenir un devis personnalisé. Nous serons heureux de vous
                        aider à développer votre entreprise en ligne !
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <form>
                <div class="row g-3">
                    <div class="col-sm-6">
                        {{ form_widget(form.Nom) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_widget(form.Email) }}
                    </div>
                    <div class="col-6">
                        {{ form_widget(form.Societe) }}
                    </div>
                    <div class="col-6">
                        {{ form_widget(form.Telephone) }}
                    </div>
                    <div class="col-12">
                        {{ form_widget(form.Adresse) }}
                    </div>
                    <div class="col-12">
                        {{ form_widget(form.Adresse_intervention) }}
                    </div>
                    <div class="col-12">
                        {{ form_widget(form.Projet_pour_service) }}
                    </div>
                    <div class="col-12">
                        {{ form_widget(form.files) }}
                    </div>
                    <div class="col-12">
                        {{ form_widget(form.Description) }}
                    </div>
                    <div class="col-12">
                        {{ form_widget(form.Message) }}
                    </div>
                    <div class="col-auto">
                        {{ form_widget(form.envoyer) }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
