{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}



{% block body %}



<<<<<<< HEAD
<div class="row">
<div>
  <div class="card" style="width: 18rem; margin-top: 30px;">
    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
    <div class="card-body">
      <h5 class="card-title">Dépannage informatique</h5>
      <p class="card-text">Dépannage informatique</p>
      <a href="#!" class="btn btn-primary">Button</a>
=======
<div class="container-fluid  ">
<div class="row d-flex flex-row justify-content-center">

  <div class="col-xxl-2 col-md-6 m-xxl-1 col-6 ">
    <div class="card" style="width: 18rem; margin-top: 30px;">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">Dépannage informatique</h5>
        <p class="card-text">Un problème avec votre ordinateur ? Nous sommes là pour vous aider à résoudre toutes sortes de problèmes informatiques.</p>
        <a href="{{path('app_depannageinfo')}}" class="btn btn-primary">Button</a>
      </div>
>>>>>>> a934ea1e01cbe4ed4e4f8c6f66daa7cefa2e385d
    </div>
  </div>

  <div class="col-xxl-2 col-md-6 m-xxl-1 col-6">
    <div class="card" style="width: 18rem; margin-top: 30px;">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">Réseaux et sécurité</h5>
        <p class="card-text">Vous cherchez à sécuriser votre réseau informatique ? Nous vous proposons des solutions adaptées à vos besoins pour protéger vos données.</p>
        <a href="{{path('app_reseauxsecurite')}}" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>
  <div class="col-xxl-2 col-md-6 m-xxl-1 col-12">
    <div class="card" style="width: 18rem; margin-top: 30px;">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">Formations</h5>
        <p class="card-text">Besoin de vous former aux nouvelles technologies ? Nous proposons des formations sur mesure pour vous aider à maîtriser les outils informatiques.</p>
        <a href="{{path('app_formations')}}" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>
  <div class="col-xxl-2 col-md-6 m-xxl-1 col-12">
    <div class="card" style="width: 18rem; margin-top: 30px;">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">Création de sites web</h5>
        <p class="card-text">Besoin d'un site web pour votre entreprise ? Nous réalisons des sites sur mesure pour répondre à vos besoins.</p>
        <a href="{{path('app_creationsite')}}" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>

  <div class="col-xxl-2 col-md-6 m-xxl-1 col-12">
    <div class="card" style="width: 18rem; margin-top: 30px;">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">Récupération de données</h5>
        <p class="card-text">Vous avez perdu des données importantes ? Nous pouvons vous aider à les récupérer grâce à nos outils spécialisés.</p>
        <a href="{{path('app_sauvegardedonnee')}}" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>

  <div class="col-xxl-2 col-md-6 m-xxl-1 col-12">
    <div class="card" style="width: 18rem; margin-top: 30px;">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">Assistance à distance</h5>
        <p class="card-text">Besoin d'une assistance informatique rapide ? Nous proposons des interventions à distance pour résoudre vos problèmes rapidement.</p>
        <a href="{{path('app_recuperationdonnee')}}" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>
  <div class="col-xxl-2 col-md-6 m-xxl-1 col-12">
    <div class="card" style="width: 18rem; margin-top: 30px;">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">Vente de matériel</h5>
        <p class="card-text">Besoin d'un nouvel équipement informatique ? Nous proposons une sélection de matériel de qualité pour répondre à vos besoins.</p>
        <a href="{{path('app_assistancedistance')}}" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>
  <div class="col-xxl-2 col-md-6 m-xxl-1 col-12">
    <div class="card" style="width: 18rem; margin-top: 30px;">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">Installation de caméra IP</h5>
        <p class="card-text">Besoin de surveiller votre entreprise ? Nous installons des caméras IP pour vous permettre de visualiser votre activité à distance.</p>
        <a href="{{path('app_vente')}}" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>
  <div class="col-xxl-2 col-md-6 m-xxl-1 col-12">
    <div class="card" style="width: 18rem; margin-top: 30px;">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">recycler du matériel informatique</h5>
        <p class="card-text">Vous souhaitez vous débarrasser de votre vieux matériel informatique ? Nous proposons un service de recyclage pour donner une seconde vie à vos équipements.</p>
        <a href="{{path('app_installation')}}" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>
  <div class="col-xxl-2 col-md-6 m-xxl-1 col-12">
    <div class="card" style="width: 18rem; margin-top: 30px;">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">recycler du matériel informatique</h5>
        <p class="card-text"> Nous proposons des solutions durables pour réparer et protéger l'environnement en utilisant des techniques respectueuses de l'environnement.</p>
        <a href="{{path('app_recyclage')}}" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>

</div>
</div>
















{% endblock %}




