{% extends 'base.html.twig' %}

{% block title %}Sauvegarde en ligne{% endblock %}

{% block body %}
{% block paragraphe %}{% endblock %}
{% block carrousel %}{% endblock %}

<div class="container">
    <h1>Sauvegarde en ligne</h1>
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <img src="{{ asset('/img/broken.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Sauvegarde en ligne pour les entreprises et les particuliers : protégez vos
                        données efficacement et en toute sécurité. Découvrez comment fonctionnent les solutions de
                        sauvegarde en ligne, leurs caractéristiques et fonctionnalités, ainsi que les éléments à prendre
                        en compte pour calculer votre budget dédié à la sauvegarde.
                        Ne laissez plus rien au hasard et assurez la protection de vos données importantes.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <form>
                <div class="row g-3">
                    <div class="col-sm-6">
                        {{ form_widget(form.Nom) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_widget(form.Email) }}
                    </div>
                    <div class="col-6">
                        {{ form_widget(form.Societe) }}
                    </div>
                    <div class="col-6">
                        {{ form_widget(form.Telephone) }}
                    </div>
                    <div class="col-12">
                        {{ form_widget(form.Adresse) }}
                    </div>
                    <div class="col-12">
                        {{ form_widget(form.Adresse_intervention) }}
                    </div>
                    <div class="col-12">
                        {{ form_widget(form.Projet_pour_service) }}
                    </div>
                    <div class="col-12">
                        {{ form_widget(form.files) }}
                    </div>
                    <div class="col-12">
                        {{ form_widget(form.Description) }}
                    </div>
                    <div class="col-12">
                        {{ form_widget(form.Message) }}
                    </div>
                    <div class="col-auto">
                        {{ form_widget(form.envoyer) }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}